$fontStack: 'Lato', 'Helvetica Neue', 'Helvetica', sans-serif;    


html {
    font-size: 18px;
    font-weight: 300;
    line-height: 150%;
    @media screen and (min-width: 768px) {font-size: 20px;}
    @media screen and (min-width: 1024px) {font-size: 22px;}
}

h1, h2, h3, h4, h5, h6, p, ul, ol {
    margin-top: 0;
    margin-bottom: 1.25rem;
}
h1, h2, h3, h4, h5, h6 {
    font-family: $fontStack;
    font-weight: 100;
}
p, ul, ol {
    font-family: $fontStack;
    line-height: 145%;
    font-size: 1rem;
}

h1 {font-size: 3.5rem;}
h2 {font-size: 2.369rem;}
h3 {font-size: 1.777rem;}
h4 {font-size: 1.333rem;}
h5 {font-size: 1rem;}
h6, small, .fontSmall {font-size: .75rem;}

em {font-style: italic; font-weight: 400;}

header {
    h1 {font-size: 14vw;}
}