@import 'reset';
@import 'bourbon/bourbon';
@import 'neat/neat';
@import 'base/base';
@import 'nav';
@import 'typography';

@mixin border($border-color){    
    border: 1px solid $border-color;
}
@mixin hover($text-color, $bg-color) {
    
    background-color: $bg-color;
    color: $text-color;
    
    &:hover {
        color: $bg-color;
        background-color: $text-color;
    }
}

//Variables//
$body-color:#000;
$body-color2:#fff;
$quiet-color:#44BD93;
$loud-color:#44BD93;

$break-small: 400px;
$break-medium: 768px;
$break-large: 1024px;
$break-x-large: 1200px;

$button-span-small: 12;
$button-span-large: 6;

img, embed, object, video {
    display: block;
    max-width: 100%;
}
*, *:after, *:before {
    -webkit-box-sizing: border-box; // Safari <= 5
    -moz-box-sizing: border-box; // Firefox <= 19
    box-sizing: border-box;
}


//-----------STYLES----------//

.button {
    @extend .btn-text;
    @include span-columns($button-span-small);
    @include border($quiet-color);
    @include hover($quiet-color, $body-color2);
    padding: 1rem;
    margin-bottom: 1rem;
}
.reversed-button {
    @extend .button;
    @include border($body-color2);
    @include hover($body-color2, $quiet-color);
}
.nav-button {
    @extend .btn-text;
}

body {
    @include image-rendering(optimizeSpeed);
    @include font-feature-settings("pnum", "kern", "liga");
    color: $body-color;
}

header {
    overflow: auto;
    padding: 10vw;
    padding-top: 5vw;
    text-align: center;    
    background-color: $loud-color;
    color:$body-color2;
    
    h1 { margin: 0; }
    p { margin: 0; }
}
header.home, header.blog {
    overflow:visible;
    padding: 0;
    padding-top: 0;
    text-align: inherit;    
    background-color: $loud-color;
    color:$body-color2;
}

section {
    overflow: auto;
    width: 100%;
    
    &:nth-of-type(even) {
        color: $body-color2;
        background-color: $quiet-color;
    }
}

article {
    @include outer-container;
    width: 95%;
    margin: auto;
}

footer {
    @extend .centered;
    @include border($quiet-color);
    border-style: dashed;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
}

@media screen and (min-width: $break-small) {
    article { width: 80%; }
}
@media screen and (min-width: $break-medium) {
    .button {
        @include span-columns($button-span-large);
        margin-bottom: 1rem;
    }
    article { width: 65%; }
}
@media screen and (min-width: $break-large) {    
    article { width: 55%; }
}
@media screen and (min-width: $break-x-large) {    
    article { width: 37%; }
}



.logo {
  width: 40px;
  height: 40px;
  margin-top: .25rem;
  fill: $body-color2;
  &:hover {fill: $body-color;}
  
}