@import 'reset';
@import 'bourbon/bourbon';
@import 'neat/neat';
@import 'typography';

@mixin border($border-color){    
    border: 1px solid $border-color;
}
@mixin transition($text-color, $bg-color) {
    transition-duration:.5s;
    
    background-color: $bg-color;
    color: $text-color;
    
    &:hover {
        color: $bg-color;
        background-color: $text-color;
    }
}

//Variables//
$body-color:#000;
$body-color2:#fff;
$quiet-color:#44BD93;
$loud-color:#FF3649;

$break-small: 400px;
$break-medium: 768px;
$break-large: 1024px;
$break-x-large: 1200px;

$button-span-small: 12;
$button-span-large: 6;

img, embed, object, video {
    display: block;
    max-width: 100%;
}
*, *:after, *:before {
    -webkit-box-sizing: border-box; // Safari <= 5
    -moz-box-sizing: border-box; // Firefox <= 19
    box-sizing: border-box;
}


//-----------STYLES----------//

sup {
    font-size: .75em;
    vertical-align: super;
}
sub {
    font-size: .75em;
    vertical-align: sub;
}

.button {
    @extend .btn-text;
    @include span-columns($button-span-small);
    @include border($quiet-color);
    @include transition($quiet-color, $body-color2);
    margin-bottom: 1rem;
    &:first-child {
        margin-top: 1rem;
    }
    padding: 1rem;
}
.reversed-button {
    @extend .button;
    @include border($body-color2);
    @include transition($body-color2, $quiet-color);
}
.nav-button {
    @extend .btn-text;
}

body {
    @include image-rendering(optimizeSpeed);
    @include font-feature-settings("pnum", "kern", "liga");
    color: $body-color;
}

header {
    overflow: auto;
    padding: 10vw;
    padding-top: 5vw;
    text-align: center;    
    background-color: $loud-color;
    color:$body-color2;
    
    h1 { margin: 0; }
    p { margin: 0; }
}

section {
    overflow: auto;
    width: 100%;
    
    &:nth-of-type(even) {
        color: $body-color2;
        background-color: $quiet-color;
    }
}

article {
    @include outer-container;
    width: 95%;
    margin: auto;
}

footer {
    @extend .centered;
    @include border($quiet-color);
    border-style: dashed;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
}

@media screen and (min-width: $break-small) {
    article { width: 80%; }
}
@media screen and (min-width: $break-medium) {
    .button {
        @include span-columns($button-span-large);
        
        &:last-child {
            margin-top: 1rem;
        }
    }
    article { width: 65%; }
}
@media screen and (min-width: $break-large) {    
    article { width: 55%; }
}
@media screen and (min-width: $break-x-large) {    
    article { width: 37%; }
}